[[!bibtex file="/mnt/data/_me/git/asherikov/asherikov-webpage/.biblio.bib" key="<TMPL_VAR raw_key>" format="citation"]]
[[!toggle id="<TMPL_VAR raw_key>" text="(bibtex)"]]
<TMPL_IF pdf>[[ (pdf)|<TMPL_VAR raw_pdf>]]</TMPL_IF><TMPL_IF more> [[(more)|<TMPL_VAR raw_more>]]</TMPL_IF>
[[!toggleable id="<TMPL_VAR raw_key>" text="""
[[!bibtex file=".biblio.bib" key="<TMPL_VAR raw_key>" format="raw"]]
"""]]
