[[!bibtex file="/usr/home/aleks/git/asherikov/asherikov-webpage/.biblio.bib" key="<TMPL_VAR raw_key>" format="citation"]]
[[!toggle id="<TMPL_VAR raw_key>" text="(bibtex)"]]
 <TMPL_IF pdf>[(pdf)](<TMPL_VAR raw_pdf>)</TMPL_IF> <TMPL_IF video>[[!toggle id="<TMPL_VAR raw_key>_video" text="(video)"]]</TMPL_IF>  <TMPL_IF more> [[(more)|<TMPL_VAR raw_more>]]</TMPL_IF>
[[!toggleable id="<TMPL_VAR raw_key>" text="""
<blockquote>
[[!bibtex file=".biblio.bib" key="<TMPL_VAR raw_key>" format="raw"]]
</blockquote>
"""]]
<TMPL_IF video>
[[!toggleable id="<TMPL_VAR raw_key>_video" text="""
<blockquote>
<TMPL_IF video_youtube>
<iframe width="560" height="315"
src="<TMPL_VAR raw_video_youtube>"
allowfullscreen>
</iframe>
</TMPL_IF>
<br />
<TMPL_IF video_link>
[[Download video: <TMPL_VAR raw_video_link>|<TMPL_VAR raw_video_link>]]
</TMPL_IF>
</blockquote>
"""]]
</TMPL_IF>
